@model Team

<div class="container pt-5 pb-5">

    <div class="container">
        <h1 style="text-align:center">Update Teams</h1>
    </div>


    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="row">


                <div class="form-group col-4">
                    <label asp-for="FullName">FullName</label>
                    <input asp-for="FullName" class="form-control" placeholder="FullName">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
               
                <div class="form-group col-4">
                    <label asp-for="FbUrl">Facebook Url</label>
                    <input asp-for="FbUrl" class="form-control" placeholder="Facebook Url">
                    <span asp-validation-for="FbUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="InstaUrl">Instagram Url</label>
                    <input asp-for="InstaUrl" class="form-control" placeholder="Instagram Url">
                    <span asp-validation-for="InstaUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="LnUrl">Linkedin Url</label>
                    <input asp-for="LnUrl" class="form-control" placeholder="Linkedin Url">
                    <span asp-validation-for="LnUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="TwitterUrl">Twitter Url</label>
                    <input asp-for="TwitterUrl" class="form-control" placeholder="Twitter Url">
                    <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="ImageFile">Image</label>
                    <input asp-for="ImageFile" class="form-control" placeholder="Image">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    <img src="~/uploads/teams/@ViewBag.Image" width="200px" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="PositionId">Position</label>
                    <select asp-items="@(new SelectList(ViewBag.Positions,"Id","Name"))" asp-for="PositionId"></select>
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Descriptiom">Description</label>
                    <textarea asp-for="Descriptiom" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Descriptiom" class="text-danger"></span>
                </div>

            </div>


            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="index" asp-controller="Team" class="btn btn-primary">Cancel</a>

        </form>
    </div>
</div>




